/* css文件中，直接写 选择器 以及对应的样式，不需要在加style标签了 */


table {}

.num {
	background-color: gainsboro;

}

.other {
	background-color: gray;

}


#dyh {
	background-color: gray;

}

td {
	background-color: gainsboro;
	color: gold;
	width: 80px;
	height: 50px;
	font-weight: 600;
	text-align: center;
	/* 文本居中 */


}